* {
    box-sizing: border-box;
    width: 100%;
    background-color: #2c4064;
  
  }
  
  body {
    font-family: Arial;
    margin: 0;
    
  }
  
  header {
   padding-top: 10px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    width: 100%;
    
  }

  footer {
    text-align: center;
    color: black;
    position: relative;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .me {
    
    border-style: solid;
    border-width: 4px;
    padding: 10px;
    width: 60%;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    img{
      max-width: 40%;
      max-height: 55%;
    }
    text-align: center;
    text-wrap: wrap;
    ;
  }

  .contact {
    border-style: solid;
    border-width: 4px;
    width: 20%;
    padding: 20px; 
    margin-left: 20px;
    margin-bottom: 20px;
    img{
      max-width: 40%;
      max-height: 40%;
      border-radius: 110px;
    }
    list-style-type:none;
    text-align: center;
    
  
    #phone{
      img:hover{
        background-color: green;
      }
    }
    #email{
      img:hover{
        background-color: white;
      }
    }
    #github{
      img:hover{
        background-color: purple;
      }
    }
    #insta{
      img:hover{
         background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );;
      }
    }
  
  }
  .current-project {
    border-style: solid;
    border-width: 4px;
    width: 55%;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-wrap: wrap;
    img{
      max-width: 50%;
      max-height: 50%;
    }
    
  }
  .project1 {
    border-style: solid;
    border-width: 4px;
    width: 25.5%;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-wrap: wrap;
    img{
      max-width: 50%;
      max-height: 50%;
    }
    
  }

.project2 {
  border-style: solid;
  border-width: 4px;
  width: 26.5%;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
    text-wrap: wrap;
    img{
      max-width: 70%;
      max-height: 70%;
    }
    
}

.project3 {
    border-style: solid;
    border-width: 4px;
    width: 26%;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-wrap: wrap;
    img{
      max-width: 65%;
      max-height: 65%;
    }
    
  }
  .project4 {
    border-style: solid;
    border-width: 4px;
    width: 26.5%;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-wrap: wrap;
    img{
      max-width: 70%;
      max-height: 60%;
    }
    
  }

 .containers{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
 }

/* section, p, h1, h2, h3, h4, h5, h6{
  background-color: #a18ca6 ;
  
 }*/

 @media screen and (max-width:768px){
section, .containers {
   
    box-sizing: content-box;
    min-width: 75%;
    display: flex;
    flex-direction: column;
    margin:0px;
    align-items: center;
    
    
    
    }
 }
 @media screen and (max-width:768px){
 footer, header {
    box-sizing: content-box;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 }
 .top{
  display: flex;
  flex-wrap: wrap;
  
  

 }
 .mid{
  display: flex;
  flex-wrap: wrap;
  
 }
 .bottom{
  display: flex;
  flex-wrap: wrap;
  
 }